*/RBP/.idea/*
*~
data/
.ipynb_
*.ipynb_*
slurm-*.out
__pycache__
*.pyc
~$
_cache
*_cache
*_files
*.cache
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.rel
auto
.nfs*
.snakemake
.Rproj.user
.Rhistory
.RData
.Ruserdata
Output/
*.Rtr

Scripts/**/*.html
localdata/
**/logs*/*
data
